## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) Seu código aqui

perc_acerto_mat = df_mat / 24
perc_acerto_por = df_por / 18
perc_acerto_geo = df_geo / 8
perc_acerto_ing = df_ing / 8
perc_acerto_his = df_his / 8
perc_acerto_fis = df_fis / 12
perc_acerto_qui = df_qui / 12

In [5]:
# 2) Seu código aqui

total_acertos = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui

total_acertos.head(3)

   Qt_acertos
0          35
1          48
2          50

In [6]:
# 3) Seu código aqui

total_acertos / (24 + 18 + (3 * 8) + (2*12))

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [7]:
# 4) Seu código aqui

total_acertos['Aptos_segunda_fase'] = 0
total_acertos.loc[total_acertos['Qt_acertos'] > 45, 'Aptos_segunda_fase'] = 1
total_acertos['Aptos_segunda_fase'].sum()

31

In [8]:
total_acertos.head(10)

   Qt_acertos  Aptos_segunda_fase
0          35                   0
1          48                   1
2          50                   1
3          32                   0
4          30                   0
5          50                   1
6          29                   0
7          49                   1
8          58                   1
9          39                   0

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [9]:
# 1) seu código aqui
df_desqualificados = total_acertos [(df_mat['Qt_acertos'] == 0) | 
                                    (df_fis['Qt_acertos'] == 0) | 
                                    (df_qui['Qt_acertos'] == 0)]

df_desqualificados = df_desqualificados.drop('Aptos_segunda_fase', axis=1)
df_desqualificados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [10]:
# 2) seu código aqui

df_desqualificados.shape

(23, 1)

In [11]:
# 3) seu código aqui

df_desq_geo = pd.merge(df_desqualificados, perc_acerto_geo, left_index=True, right_index=True,  how='left')

df_desq_geo_hist = pd.merge(df_desq_geo, perc_acerto_his, left_index=True, right_index=True,  how='left')

nome_colunas = {'Qt_acertos_x':'Qt_acertos', 'Qt_acertos_y':'Med_Geo', 'Qt_acertos':'Med_his'}

df_desq_geo_hist = df_desq_geo_hist.rename(columns=nome_colunas)

df_desq_geo_hist

    Qt_acertos  Med_Geo  Med_his
3           32    0.375    0.000
6           29    0.875    0.625
10          31    0.375    0.125
12          42    0.375    0.125
14          31    0.125    0.125
20          53    0.750    0.750
25          27    0.875    0.000
26          40    0.750    0.875
27          50    0.125    0.875
33          39    0.000    0.750
35          48    0.750    0.375
49          19    0.125    0.125
56          39    0.875    0.750
65          24    0.250    0.375
66          31    0.375    0.375
72          50    0.375    0.875
73          37    0.250    0.375
74          39    0.000    0.625
84          26    0.000    0.125
89          63    0.875    0.750
92          40    0.125    0.125
94          25    0.250    0.125
98          40    0.375    0.625

In [12]:
# 4) seu código aqui

df_45ptos = total_acertos[total_acertos['Aptos_segunda_fase'] == 1]

df_45ptos

    Qt_acertos  Aptos_segunda_fase
1           48                   1
2           50                   1
5           50                   1
7           49                   1
8           58                   1
17          52                   1
18          50                   1
20          53                   1
24          50                   1
27          50                   1
31          54                   1
35          48                   1
36          56                   1
37          52                   1
39          49                   1
40          47                   1
42          48                   1
45          48                   1
48          55                   1
60          48                   1
62          46                   1
67          46                   1
70          62                   1
71          53                   1
72          50                   1
77          53                   1
78          66                   1
81          55                   1
88          50                   1
89          63                   1
93          56                   1

In [13]:
indices_para_excluir = df_45ptos.index.intersection(df_desq_geo_hist.index)

df_aprovados_final = df_45ptos.drop(indices_para_excluir)

df_aprovados_final

    Qt_acertos  Aptos_segunda_fase
1           48                   1
2           50                   1
5           50                   1
7           49                   1
8           58                   1
17          52                   1
18          50                   1
24          50                   1
31          54                   1
36          56                   1
37          52                   1
39          49                   1
40          47                   1
42          48                   1
45          48                   1
48          55                   1
60          48                   1
62          46                   1
67          46                   1
70          62                   1
71          53                   1
77          53                   1
78          66                   1
81          55                   1
88          50                   1
93          56                   1

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [14]:
# O link não funcionou, fiz direto pelo arquivo
# arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [15]:
# 1) Sua solução aqui

df_acre = pd.read_csv('reg_vac_ACRE.csv', sep=';', decimal=',')
df_acre.head(5)

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
0,b19cd280-474c-4c22-a35d-8c06bc04a4e0-i0b0,2e091c9a37d3f50d1d705fc80c6448c6fc69b44da9e936...,69,1951-12-28,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,210052A,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-23,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-25T03:27:19.000Z,NaN
1,a1acc0b6-1cf6-4c4b-adcb-06b473a0faaf-i0b0,f4e17a9e5354cb45e223d85eda02fb2f76048c801675f5...,81,1939-11-22,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,210110,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-29,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-30T16:03:14.000Z,NaN
2,af279a98-ba1f-47ea-8214-314a98040b0d-i0b0,6734b26bccf826130ebffa66575977bbe71477b12bcf42...,69,1951-08-14,M,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,210135,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-16,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-16T15:54:39.000Z,NaN
3,4879308e-5050-46bb-b8e2-11fa5646a05c-i0b0,84a341fd350c1ba7117fccbb4d2df417bc0fac0fffac37...,51,1969-12-15,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,202010040,FUNDACAO BUTANTAN,Organization/61189445000156,2021-02-19,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-10T14:40:54.000Z,NaN
4,000e911b-e3a4-4114-a735-d1f2e6e3797f-i0b0,c59571e19f368d4b0cf08cd3bcabb32e5cd8baad5340f6...,65,1955-11-21,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,212VCD001ZVB,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-03-29,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-04-03T19:44:28.000Z,NaN

In [16]:
df_acre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169071 entries, 0 to 169070
Data columns (total 34 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   document_id                               169071 non-null  object
 1   paciente_id                               169071 non-null  object
 2   paciente_idade                            169071 non-null  int64
 3   paciente_datanascimento                   169071 non-null  object
 4   paciente_enumsexobiologico                169071 non-null  object
 5   paciente_racacor_codigo                   169071 non-null  int64
 6   paciente_racacor_valor                    169071 non-null  object
 7   paciente_endereco_coibgemunicipio         167802 non-null  float64
 8   paciente_endereco_copais                  167804 non-null  float64
 9   paciente_endereco_nmmunicipio             167804 non-null  object
 10  paciente_endereco_nmpais                  167804 non-null  object
 11  paciente_endereco_uf                      167802 non-null  object
 12  paciente_endereco_cep                     140711 non-null  float64
 13  paciente_nacionalidade_enumnacionalidade  168904 non-null  object
 14  estabelecimento_valor                     169071 non-null  int64
 15  estabelecimento_razaosocial               169071 non-null  object
 16  estalecimento_nofantasia                  169071 non-null  object
 17  estabelecimento_municipio_codigo          169071 non-null  int64
 18  estabelecimento_municipio_nome            169071 non-null  object
 19  estabelecimento_uf                        169071 non-null  object
 20  vacina_grupoatendimento_codigo            169071 non-null  int64
 21  vacina_grupoatendimento_nome              167965 non-null  object
 22  vacina_categoria_codigo                   167965 non-null  float64
 23  vacina_categoria_nome                     167467 non-null  object
 24  vacina_lote                               169071 non-null  object
 25  vacina_fabricante_nome                    169071 non-null  object
 26  vacina_fabricante_referencia              167680 non-null  object
 27  vacina_dataaplicacao                      169071 non-null  object
 28  vacina_descricao_dose                     169071 non-null  object
 29  vacina_codigo                             169071 non-null  int64
 30  vacina_nome                               169071 non-null  object
 31  sistema_origem                            169071 non-null  object
 32  data_importacao_rnds                      169071 non-null  object
 33  id_sistema_origem                         0 non-null       float64
dtypes: float64(5), int64(6), object(23)
memory usage: 43.9+ MB

In [17]:
df_acre['document_id'].shape

(169071,)

In [18]:
# 2)

df_acre['document_id'].nunique()

168934

In [19]:
# 3)

primeira_dose = df_acre['vacina_descricao_dose'].unique()[0]
df_acre['paciente_id'].loc[df_acre['vacina_descricao_dose'] == primeira_dose].nunique()

119713

In [20]:
# 3) solução alternativa

primeira_dose = df_acre['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df_acre[df_acre['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

119713

In [21]:
# 4)

vacinados_menor_18 = df_acre['paciente_id'].loc[df_acre['paciente_idade'] <18].nunique()

vacinados_menor_18

47

In [22]:
# 5)

df_acre['estabelecimento_razaosocial'].nunique()

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [23]:
# 1)

df_menores18a = df_acre[df_acre['paciente_idade'] <18].copy()

df_menores18a.head(3)

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
1567,fdca313f-b348-422d-94d4-f2c66a87868c-i0b0,f5e6b8c44f7c4d13a87c582def5e8d460435b02f26af8c...,17,2003-07-18,F,4,AMARELA,120025.0,10.0,EPITACIOLANDIA,...,213VCD003W,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-12,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-13T16:16:42.000Z,NaN
6250,b7431955-1faa-4c1e-9246-7c1e7b8bb3cb-i0b0,e1a45c07e3c393d5f0eccf4204a7ceab338f4f06696ecb...,16,2004-05-18,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,200278,FUNDACAO BUTANTAN,Organization/61189445000156,2021-01-29,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-02-06T14:02:07.000Z,NaN
9569,fdb8d3b6-14d9-4bcc-9cfe-acd46b4a317a-i0b0,7cf3b238383a70eeb26841c01817737c9706d5b231e8c2...,17,2004-01-23,F,99,SEM INFORMACAO,120020.0,10.0,CRUZEIRO DO SUL,...,213VCD042Z,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-15,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-18T03:17:02.000Z,NaN

In [24]:
# 2)
df_menores18a.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [25]:
# 3)

df_menores18a['vacina_categoria_nome'].value_counts()

Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: vacina_categoria_nome, dtype: int64

In [26]:
# 4)
lista_est = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']

lista_est

['estabelecimento_valor',
 'estabelecimento_razaosocial',
 'estalecimento_nofantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf']

In [27]:
# 5)

df_menores18a_est = df_menores18a.loc[:,lista_est]
df_menores18a_est.head(3)

,estabelecimento_valor,estabelecimento_razaosocial,estalecimento_nofantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1567,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
6250,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9569,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC

In [28]:
# 6)

df_menores18a_est.drop_duplicates()
df_menores18a_est.shape

(55, 6)

In [29]:
df_menores18a_est['estabelecimento_razaosocial'].nunique()

14